<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ登録</title>
</head>
<body>
	<h1>レシピ登録</h1>

	<form action="/recipes/add" method="post">
        <table border="1">
            <tr>
                <th>レシピ名</th>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <th>カテゴリー</th>
                <td>
                    <input type="text" name="category">
                </td>
            </tr>
            <tr>
                <th>作り方</th>
                <td>
                    <textarea name="recipe"></textarea>
                </td>
            </tr>
         </table>
         <input type="submit" value="登録">
</body>
</html>