<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ登録</title>
</head>
<body>
	<h1>レシピ登録</h1>
	<form action="/recipes/add" method="post">
        <p>レシピ名</p>
        <input type="text" name="name">
        <p>カテゴリー</p>
        <select name="categoryId">
            <option value="">選択してください</option>
            <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
		<p>作り方</p>
		        <textarea name="recipe" rows="5" cols="30"></textarea>
        <br><br>
        <input type="submit" value="登録">
    </form>
	</body>
</html>