<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ更新</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1>レシピ更新</h1>

	<form th:action="'/recipes/'+${recipe.id}+'/edit'" method="post">
		  <div class="form-row">
		    <div class="form-label">
		      <label for="name">レシピ名</label>
		      <span>必須</span>
		    </div>
		    <input type="text" id="name" name="name" th:value="${recipe.name}" placeholder="タイトル" required>
		  </div>
		  
		  <div class="form-row">
		    <div class="form-label">
		      <label for="pet-select">カテゴリ</label>
		    </div>
			<select name="categoryId">
			  <option value="">--選択してください--</option>
			  <option th:each="category : ${categories}"
			          th:value="${category.id}"
			          th:text="${category.name}"
			          th:selected="${category.id == recipe.category.id}"></option>
          	</select>
		  </div>
		  <div class="form-row">
		    <div class="form-label">
		      <label for="message">作り方</label>
		      <span>必須</span>
		    </div>
		        <textarea id="message" name="recipe" rows="5" placeholder="作り方をこちらにご記入ください" 
				required th:utext="${#strings.replace(recipe.editRecipe, '\n', '<br>')}"></textarea>
            </div>
							
		  <div class="form-row">
		    <div class="form-label"></div>
		    <button type="submit">更新</button>
		  </div>
	</form>
</body>
</html>